/* MAIN */

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 24px;
    line-height: 24px;
    color: #2d2d2d;
    overflow-x: hidden;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a {
    color: #c7081b;
    text-decoration: none;
}

a:hover {
    color: #c7081b;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 0 0 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

p+p {
    margin: 20px 0 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

strong {
    font-weight: 800;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


width-100 {
    width:100%;
}


/* HEAD MENU */

header {
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0px;
}

header .header-menu-line {
    padding: 0;
    color: #fff;
    min-height: 30px;
    position: relative;
    z-index: 5555;
    background: rgba(0, 0, 0, 0.2);
    display: block;
}

.header-menu {
    display: inline-block;
    width: 100%;
    height: 3.65em;
    border: none;
}

.header-menu-div {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

header .header-menu .logo {
    float: left;
}

header .header-menu .logo a {
    float: left;
    padding: 15.84% 0 0 0;
    height: 4.167em;
    font-size: 0.75em;
    line-height: 1.12em;
}

header .header-menu .logo .text-logo {
    margin-top: -1px;
    margin-left: 0;
    display: block;
}

header .header-menu .logo .text-logo .primary_text {
    font-family: 'Yellowtail', cursive;
    color: #FFF;
    font-size: 2.44em;
    display: block;
    margin-bottom: 6.55%;
    text-align: center;
    padding-right: 4%;
    transition-duration: 0s;
}

header .header-menu .logo .text-logo .secondary_text {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    display: block;
    text-align: center;
    letter-spacing: 0.468em;
    text-transform: uppercase;
    transition-duration: 0s;
}

header .header-menu .bottoms {
    float: right!important;
    padding-right: 0;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

header .header-menu .bottoms>ul {
    float: right!important;
    margin: 0;
    padding: 0;
}

.header-menu-bottoms li {
    display: block;
    float: left;
}

.header-menu-bottoms li a {
    color: #fff;
    display: block;
    font-size: 0.583em;
    padding: 38px 15px 20px 15px !important;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 31px;
}

.header-menu-bottoms li.active, .header-menu-bottoms li a:focus {
    background-color: #c7081b;
}
.header-menu-bottoms li a:hover {
background-color: #08c74c;
}



main {
    width: 100%;
    display:inline-block;
}



/* FOOTER */

.footer {
    width: 100%;
    padding: 18px 0 20px 11px;
    margin-top: 50px;
    background-color: #2f2f2f;
    color: #999999;
    font-size: 13px;
}

.footer-start {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px !important;
}

.footer-start .footer-text {
    width: 33.33333333333333%;
}

.footer-start .footer-text a h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 7px;
    color: #999;
}

.footer-start .footer-text a span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    font-size: 12px;
    padding: 0px 12px;
    color: #999;
    font-weight: 600;
}

.footer-start p {
    word-spacing: 2px;
    margin-top: 12px;
}
.footer-end {
    width: 66.66666666666666%;
    float: left;
}

.my-contacts {
    margin: 34px 0 0 0;
    float: right;
}

.footer-end ul.my-contacts li {
    float: left;
    display: inline;
    margin-right: 10px;
}

.footer-end ul.my-contacts li a {
    width: 32px;
    height: 32px;
    display: block;
}


.vk {
    background: url(../images/vk.png) no-repeat;
}

.facebook{
    background: url(../images/social.png) 0px -32px no-repeat;
}

.youtube {
    background: url(../images/social.png) -78px -32px no-repeat;
}

.skype {
    background: url(../images/social.png) -273px -32px no-repeat;
}

.google {
    background: url(../images/social.png) -312px -32px no-repeat;
}

.instagram {
    background: url(../images/social.png) -390px -32px no-repeat;
}