.contain {
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 0;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-left: -15px;
    margin-right: -15px;
}

.container .catalog-item {
    margin-bottom: 50px !important;
    width: 370px;
    height: 260px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.container .catalog-item h2 {
    border-bottom: 1px solid #e1e1e1;
    padding-top: 25px !important;
    padding-bottom: 10px !important;
    font-weight: 700;
    margin: 0;
    font-size: 20px;
    line-height: 100%;
}